* {
	padding: 0;
	margin: 0;
}
body {
	color: #4F91F7;
	font-size: 100%;
}
.gradient {
	/* Old browsers */
    background: #141E30;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(135deg, #F7B54F, #F77D4F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(135deg, #F7B54F, #F77D4F);
	background-attachment: fixed;
}
h1 {
	font-family: "cooper-black-std", serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	padding: 1em;
	font-size: 4em;
}
h2 {
	font-family: "cooper-black-std", serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	font-size: 4em;
}
#state0 h1 {
	font-size: 8em;
	line-height: .5em;
	margin-bottom: 1em;
}
p {
	font-family: 'Fredoka One', cursive;
	text-align: center;
	padding-bottom: 1em;
	font-size: 2.5em;
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}
/* A class that is applied to every State div to give them their "card-like" appearances */
.gameState {
	position: fixed;
	left: 50%;
	margin-left: -50em;
	margin-top: 7em;
	transition: .5s;
	background-color: #4ff7ec;
	border-radius: 5em;
	width: 100em;
	height: 50em;
}

/* State 0 - Welcome Screen */

#state0 {
	opacity: 0%;
	transform: translateY(200%);
}
#state0 button {
	position: absolute;
	height: 4em;
	width: 8em;
	left: 50%;
	margin-left: -4em;
	background-color: #00000000;
	border: .01em solid #4f92f7c0;
	border-radius: 5em;
	font-size: 2em;
	font-family: 'Fredoka One', cursive;
	color: #4f92f7c0;
	transition: .25s;
}
#state0 button:hover {
	transform: scale(1.1);
	border: .2em solid #4F91F7;
	color: #4F91F7;
}

/* State 1 */

#state1 {
	opacity: 0%;
	transform: translateY(200%);
}
#topli {
	box-sizing: border-box;
	text-align: center;
}
#topli li {
	list-style: none;
	display: inline-block;
}
#topli h1 {
	margin-left: 25rem;
	margin-right: 25rem;
}
#topli button {
	position: absolute;
	height: 4em;
	width: 4em;
	background-color: #00000000;
	border: .01em solid #4f92f7c0;
	border-radius: 5em;
	font-size: 2em;
	font-family: 'Fredoka One', cursive;
	color: #4f92f7c0;
	transition: .25s;
}
#topli button:hover {
	transform: scale(1.1) translate(-45%, -67.5%);;
	border: .2em solid #4F91F7;
	color: #4F91F7;
}
#topli li button {
	transform: translate(-50%, -75%);
}

#bottomli button {
	position: absolute;
	height: 4em;
	width: 8em;
	left: 50%;
	margin-left: -4em;
	background-color: #00000000;
	border: .01em solid #4f92f7c0;
	border-radius: 5em;
	font-size: 2em;
	font-family: 'Fredoka One', cursive;
	color: #4f92f7c0;
	transition: .25s;
}
#bottomli button:hover {
	transform: scale(1.1);
	border: .2em solid #4F91F7;
	color: #4F91F7;
}
#bottomli li {
	list-style: none;
	padding: 5em;
}

/* State 2 */

#state2 {
	opacity: 0%;
	transform: translateY(200%);
}
#state2 button {
	position: absolute;
	height: 3em;
	width: 8em;
	left: 50%;
	margin-left: -4em;
	background-color: #00000000;
	border: .01em solid #4f92f7c0;
	border-radius: 5em;
	font-size: 2em;
	font-family: 'Fredoka One', cursive;
	color: #4f92f7c0;
	transition: .25s;
}
#state2 button:hover {
	transform: scale(1.1);
	border: .2em solid #4F91F7;
	color: #4F91F7;
}
#state2 li {
	transform: translateY(-65%);
	list-style: none;
	padding: 4em;
}
#difficulty {
	text-align: center;
}
#difficultyinput {
	background-color: #00000000;
	border: 0;
	border-bottom: #4F91F7 solid .1em;
	color: #4F91F7;
	font-family: 'Raleway', sans-serif;
	font-size: 5em;
	width: 1.5em;
}

/* State 3 */

#state3 {
	opacity: 0%;
	transform: translateY(200%);
}
#state3 button {
	position: absolute;
	height: 3em;
	width: 8em;
	left: 50%;
	margin-left: -4em;
	background-color: #00000000;
	border: .01em solid #4f92f7c0;
	border-radius: 5em;
	font-size: 2em;
	font-family: 'Fredoka One', cursive;
	color: #4f92f7c0;
	transition: .25s;
}
#state3in {
	text-align: center;
}
.playerNameInput {
	background-color: #00000000;
	border: 0;
	border-bottom: #4F91F7 solid .1em;
	color: #4F91F7;
	font-family: 'Raleway', sans-serif;
	font-size: 5em;
	width: 10em;
}

/* State 4 */

#state4 {
	opacity: 0%;
	transform: translateY(200%);
}
#state4 button {
	position: absolute;
	height: 4em;
	width: 8em;
	left: 50%;
	margin-left: -4em;
	background-color: #00000000;
	border: .01em solid #4f92f7c0;
	border-radius: 5em;
	font-size: 2em;
	font-family: 'Fredoka One', cursive;
	color: #4f92f7c0;
	transition: .25s;
}
#state4 button:hover {
	transform: scale(1.1);
	border: .2em solid #4F91F7;
	color: #4F91F7;
}

/* State 5 */

#state5 {
	opacity: 0%;
	transform: translateY(200%);
}
#state5 button {
	position: absolute;
	height: 4em;
	width: 8em;
	left: 50%;
	margin-left: -4em;
	background-color: #00000000;
	border: .01em solid #4f92f7c0;
	border-radius: 5em;
	font-size: 2em;
	font-family: 'Fredoka One', cursive;
	color: #4f92f7c0;
	transition: .25s;
}
#state5 button:hover {
	transform: scale(1.1);
	border: .2em solid #4F91F7;
	color: #4F91F7;
}

/* State 6 */

#state6 {
	opacity: 0%;
	transform: translateY(200%);
}
#state6 button {
	position: absolute;
	height: 4em;
	width: 8em;
	left: 50%;
	margin-left: -4em;
	background-color: #00000000;
	border: .01em solid #4f92f7c0;
	border-radius: 5em;
	font-size: 2em;
	font-family: 'Fredoka One', cursive;
	color: #4f92f7c0;
	transition: .25s;
}
#state6 button:hover {
	transform: scale(1.1);
	border: .2em solid #4F91F7;
	color: #4F91F7;
}

/* State 7 - Final Score Singleplayer */

#state7 {
	opacity: 0%;
	transform: translateY(200%);
}
#state7 button {
	position: absolute;
	height: 4em;
	width: 8em;
	left: 50%;
	margin-left: -4em;
	background-color: #00000000;
	border: .01em solid #4f92f7c0;
	border-radius: 5em;
	font-size: 2em;
	font-family: 'Fredoka One', cursive;
	color: #4f92f7c0;
	transition: .25s;
}
#state7 button:hover {
	transform: scale(1.1);
	border: .2em solid #4F91F7;
	color: #4F91F7;
}